<div class="container mt-5 mb-5">


    <div class="jumbotron text-center" style="background-color: #8b8f8f" >
        <h1>YUNUS EMRE ÖZTÜRK</h1>
        <p>emreyunus616195@gmail.com</p>
        <p>tahiroglusoftware61@gmail.com</p>
        <p>github.com/emreyunus61</p> 
      </div>
      <br>
      <br>
      <br>

      <div class="jumbotron text-center" style="background-color: #ebdcdc" >
        <p>✽Teknik bilgi ve becerilerimi ortaya koyup faydalı olabileceğim ve bunları geliştirebileceğim,
            çalıştığım kurumun heddeflerine ulaşabilmesi için görev alabileceğim </p><p> ve problem çözme
          yeteneğimi kullanabileceğim bir pozisyonda başarılı işler yapmak istiyorum</p>
      </div>

</div>